.titulo {
    text-align: center;
    font-weight: 700;
    background-color: black;
    color: white;
}

.gif2 {
    margin-left: 150px;
}

.logoAlign {
    width: 40%;
    margin-left: 190px;
}

.textoCentrado {
    text-align: center;
    padding: 20px;
}

.boton {
    margin-left: 110px;
}

.img {
    margin-left: 55px;
}

table {
    border-color: black;
    border-width: thick;
}

h2 {
    text-align: center;
}

.txtRanger {
    font-size: 14px;
    padding: 20px;
}

.txtMegazord {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
    padding-right: 20px;
}1